body {
  background: linear-gradient(
    123deg,
    rgb(250, 217, 197) 0%,
    rgb(136, 183, 244) 100%
  );
  background-attachment: fixed;
}

div {
  border-radius: 18px;
}

footer {
  text-align: center;
}

.App {
  font-family: sans-serif;
  background: rgba(255, 246, 239, 0.4);
  border: solid 0.5px #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

li {
  list-style: none;
}
