body {
  background: linear-gradient(
    123deg,
    rgb(250, 217, 197) 0%,
    rgb(136, 183, 244) 100%
  );
  background-attachment: fixed;
}

div {
  border-radius: 18px;
}

h1,
footer {
  text-align: center;
}

.App {
  font-family: sans-serif;
  background: rgba(255, 246, 239, 0.6);
  margin: 20px;
  padding: 20px;
}

li {
  list-style: none;
}

.city {
  font-size: 24px;
  font-weight: bold;
}
