.Weather {
  color: #272044;
}

.Weather input {
  width: 100%;
}

.Weather h1 {
  margin: 20px;
}

.Weather li,
.Weather span {
  opacity: 0.8;
}

.Weather .temperature {
  font-size: 64px;
  vertical-align: middle;
  opacity: 1;
}

.Weather .unit {
  position: relative;
  line-height: 1;
  top: -14px;
}
